:root {--main-color: #FF0000;}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

div {
    color: var(--main-color);
    font-size: 20px;
}

p {
    font-style: italic;
    animation-duration: calc(1/2)s;
    position: absolute;
    /* top: 0;
    left: 0; */
}

.link {
    
}